<h1>Ask a Question</h1>

<%= @error if @error %>
<br>
<%= form_for @question do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %><br>
	
	<%= f.label :content %>
	<%= f.text_area :content, :size => "30x5" %><br>
	<%= f.hidden_field :user_id, :value => current_user.id.to_i %>
	<%= f.submit %>
<% end %>