<%= link_to "Up", '/upvote/@question.id' %> <%= link_to "Down", '/downvote/@question.id' %>Votes: <%= @question.votecount %><h2>Question:</h2>
<h3>Title: <%= @question.title %></h3><br>

Content: <%= @question.content %>

<h2>Answer Question:</h2>

<%= form_for :answer, url: answers_path do |f| %>	
	<%= f.label :content %><br>
	<%= f.text_area :content, :size => "30x5" %>
	<%= f.hidden_field :question_id, :value => @question.id %><br>
	<%= f.submit%>
<% end %>