
<div class="hero-unit">
	<%= link_to "up", upvote_path(@question.id),:class => 'upvote', :id => "upvote_q" %>
	<%= link_to "down", downvote_path(@question.id), :class => 'downvote', :id => "downvote_q" %>Votes: <%=q_votecount(@question) %>

	<h2>Question:</h2>
	<% if current_user && (current_user == @question.user || current_user.admin) %>
		<%= button_to 'Delete Question', question_path(@question), method: :delete %>
	<% end %>

	<h3>Title: <%= @question.title %></h3>
	<%= link_to 'Edit', edit_question_path(@question) if current_user && (@question.user == current_user || current_user.admin) %>
	<br>
	Content: <%= @question.content %>

	<p>Total answers: <%= @answers.count %></p>
	<% if @question_comments %>
		Comments:
		<ul>
			<% @question_comments.each do |qc| %>
				<li>
					<%= qc.content %> - <%= User.find(qc.user_id).handle %> - <%= qc.created_at.strftime("%m/%d/%y %I:%M %p") %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<%= link_to "Comment On This Question", new_question_comment_path(@question.id) %>

	<% if current_user && current_user == @question.user %>
		<%= form_for @question, :method => :delete do |f| %>
			<%= f.button 'Delete' %>
		<% end %>
	<% end %>
</div>

<div class="span12" >

	<% if @answers %>

		<h2>Answers:</h2>

		<% @answers.each do |answer| %>
			<tr>
			  <td><%= answer.content %></td>
			  <%= link_to "up", answerup_path(answer.id), :class => 'upvote', :id => 'upvote_a' %>
			  <%= link_to "down", answerdown_path(answer.id), :class => 'downvote', :id => 'downvote_a' %>Votes: <%= a_votecount(answer) %>
			  <%= link_to 'Edit Answer', edit_answer_path(answer) if current_user && (answer.user == current_user || current_user.admin) %><br>
			  <%= link_to "Comment On This Answer", new_answer_comment_path(answer.id) %>
			  <td>Posted: <%= answer.created_at %></td><br><br>
			</tr>
		<% end %>

		<ul>
			<% @answers.each do |answer| %>
				<li>
				  <%= link_to "up", answerup_path(answer.id), :id => 'upvote_a' %>
				  <%= link_to "down", answerdown_path(answer.id), :id => 'downvote_a' %>
				  Votes: <%= a_votecount(answer) %>
				  <%= answer.content %>
				  <%= link_to 'Edit Answer', edit_answer_path(answer) if current_user && (answer.user == current_user || current_user.admin) %><br>
				  Posted: <%= answer.created_at.strftime("%m/%d/%y %I:%M %p") %>
				  <% if answer.comments %>
				  	<ul>
				  		<% answer.comments.each do |ac| %>
					  		<li>
									<%= ac.content %> - <%= User.find(ac.user_id).handle %> - <%= ac.created_at.strftime("%m/%d/%y %I:%M %p") %>
								</li>
							<% end %>
				  	</ul>
				  <% end %>
				  <%= link_to "Comment On This Answer", new_answer_comment_path(answer.id) %>
				 </li>
			<% end %>
		</ul>

		<h2>Answer Question:</h2>

		<%= form_for :answer, url: answers_path do |f| %>
			<%= f.label :content %><br>
			<%= f.text_area :content, :size => "30x5" %>
			<%= f.hidden_field :question_id, :value => @question.id %><br>
			<%= f.submit%>
		<% end %>
	<% end %>
</div >
