<%= link_to "up", upvote_path(@question.id)%> <%= link_to "down", downvote_path(@question.id)%>Votes: <%= @question.votecount %><h2>Question:</h2>
<h3>Title: <%= @question.title %></h3><br>

Content: <%= @question.content %>
<% if current_user && current_user == @question.user %>
	<%= form_for @question, :method => :delete do |f| %>
		<%= f.button 'Delete' %>
	<% end %>
<% end %>
<h2>Answer Question:</h2>

<%= form_for :answer, url: answers_path do |f| %>	
	<%= f.label :content %><br>
	<%= f.text_area :content, :size => "30x5" %>
	<%= f.hidden_field :question_id, :value => @question.id %><br>
	<%= f.submit%>
<% end %>