<h2>Answer:</h2>
<p>Content:</p> 
<%= @answer.content %>

<%= form_for([@answer, @answer.comments.build]) do |f| %>
  

  <h2>Comment on this answer:</h2>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>