

<p><%= flash[:error] %></p> 
<h2><%= @resource.class %>:</h2>
<p>Content:</p>  
<%= @resource.content %>


<%= form_for([@resource, @resource.comments.build]) do |f| %>
  
  <h2>Comment on this <%= type_to_s @resource %>:</h2>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>